# Data pipeline
pandas==3.0.3
python-dotenv==1.2.2

# Database
psycopg2-binary==2.9.12
pgvector==0.4.1
SQLAlchemy==2.0.40

# Backend
fastapi==0.115.0
uvicorn==0.30.0

# Chatbot
groq==0.28.0

# HTTP
requests==2.34.2